# Git
.git
.gitignore

# CI
.circleci/

# Docker
docker-compose.yml

# cache
__pycache__/
.pytest_cache/

# Airflow stuff
logs/
{AIRFLOW_HOME}/
examples/

# Virtual environment
.env/
.venv/
venv/

# IDE
.idea
.vscode/
