*.pyc
*.retry
*undo-tree~
*.un~
venv

logs
unittests.cfg
airflow-webserver.pid
airflow-worker.pid
.config
.viminfo
.credentials
.bash_history
.mysql_history

/dags/bigquery-etl-dags
/dags/bigquery-etl-dags/*

*~

.cache

# VsCode artifacts
.vscode/*.log