# acryl-datahub-airflow-plugin 0.15 requires openlineage-integration-common 1.25.0,
# while the Airflow 2.10.5 constraints specify openlineage-integration-common 1.27.0.
acryl-datahub-airflow-plugin==0.15.0.5

# There's a bug in apache-airflow-providers-google 12.0.0 where Dataproc operators fail to import
# without OpenLineage installed, which was fixed in 14.0.0 (https://github.com/apache/airflow/pull/46561).
apache-airflow-providers-google==14.0.0
