# There's a bug in apache-airflow-providers-google 12.0.0 where Dataproc operators fail to import
# without OpenLineage installed, which was fixed in 14.0.0 (https://github.com/apache/airflow/pull/46561).
apache-airflow-providers-google==14.0.0
acryl-datahub @ https://66ce3d9f.datahub-wheels.pages.dev/artifacts/wheels/acryl_datahub-0.0.0.dev1-py3-none-any.whl
acryl-datahub-airflow-plugin @ https://66ce3d9f.datahub-wheels.pages.dev/artifacts/wheels/acryl_datahub_airflow_plugin-0.0.0.dev1-py3-none-any.whl
