apache-airflow[amazon,apache.hive,async,celery,cncf.kubernetes,crypto,datadog,github_enterprise,google_auth,jdbc,mysql,password,postgres,redis,statsd]==2.3.3
apache-airflow-providers-google
apache-airflow-providers-http
apache-airflow-providers-slack
airflow-provider-fivetran
mozlogging
pytest

# Required for backfill UI
flask-admin
shelljob==0.5.6

# Required for /app/dags/fivetran_acoustic.py, /app/dags/utils/acoustic/acoustic_client.py
xmltodict

# TODO: Are these still needed
# were added in https://github.com/mozilla/telemetry-airflow/pull/1008
# retrying
# Flask-OAuthlib
# ipaddress

