<!-- https://developer.goacoustic.com/acoustic-campaign/reference/export-from-a-database -->
<!-- date_format: 07/25/2011 12:12:11 (time is optional) -->

<Envelope>
  <Body>
    <ExportList>
      <LIST_ID>{{ list_id }}</LIST_ID>
      <EXPORT_TYPE>{{ export_type }}</EXPORT_TYPE>
      <EXPORT_FORMAT>{{ export_format }}</EXPORT_FORMAT>
      <INCLUDE_RECIPIENT_ID></INCLUDE_RECIPIENT_ID>
      <EXPORT_COLUMNS>
        {{ columns }}
      </EXPORT_COLUMNS>
      <DATE_START>{{ date_start }}</DATE_START>
      <DATE_END>{{ date_end }}</DATE_END>
      <VISIBILITY>{{ visibility }}</VISIBILITY>
    </ExportList>
  </Body>
</Envelope>