<!-- https://developer.goacoustic.com/acoustic-campaign/reference/get-a-list-of-databases -->
<Envelope>
  <Body>
    <GetLists>
      <VISIBILITY>0</VISIBILITY>
      <LIST_TYPE>{{ list_type }}</LIST_TYPE>
    </GetLists>
  </Body>
</Envelope>
