<!--Your comment-->
<Envelope>
  <Body>
    <RawRecipientDataExport>
      <EVENT_DATE_START>{{ date_start }}</EVENT_DATE_START>
      <EVENT_DATE_END>{{ date_end }}</EVENT_DATE_END>
      <MOVE_TO_FTP/>
      <EXPORT_FORMAT>0</EXPORT_FORMAT>
      <EMAIL>admin@yourorg.com</EMAIL>
      <ALL_EVENT_TYPES/>
      <INCLUDE_INBOX_MONITORING/>
      <COLUMNS>
        <COLUMN>
          <NAME>CustomerID</NAME>
        </COLUMN>
        <COLUMN>
          <NAME>Address</NAME>
        </COLUMN>
      </COLUMNS>
    </RawRecipientDataExport>
  </Body>
</Envelope>